/* styles.css */

body {
  margin: 0;
  background-color: black;
}

.root-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.nav {
  width: 100%;
  margin-bottom: 20px;
}

.leftNav {
  width: 25vw;
  order: 2;
  margin-top: 20px;
}

.mainContent {
  padding: 20px;
  flex: 1;
}
