.body{
    width: 100%;
    height: 100%;
}

.Contendio{
    background-color: rgb(6, 134, 246);
}
.box{
    color:rgb(255, 0, 0);
}

.box {
    width: 4px;
    height: 1000px;
    background: red;
}

.box .rectangle {
    position: absolute;
    width: 1px;
    height: 1400px;
    top: 0;
    left: 300px;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
}

.left-div {
    padding: 10px;
    border-right: 1px solid white;
}

.right-div {
    border-right: 1px solid white;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imagen_home{
    width: 100%;
    height: auto;
}


.logo{
    width: 40px;
    height: auto;
    margin-top: 30px;
}

.contenedor_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #242D34;

}

.text_login{
    color: white;
    margin-top: 50px;
}

.contain_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 15px;
    width: 40vw;
    height: 90vh;
    padding: 10px;

}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

label {
    margin-bottom: 5px;
    text-decoration: none;
}

.input{
    background-color: black;
    border-radius: 3px;
    width:18vw;
    height: 7vh;
    border: 1px solid gray;
    margin: 20px;
    padding-left: 10px;

}

.boton_login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    width: 18vw;
    height: 6vh;
    border: none;
    border-radius: 20px;
    margin: 20px;
}
