.body{
    width: 100%;
    height: 100%;
}

.Contendio{
    background-color: rgb(6, 134, 246);
}
.box{
    color:rgb(255, 0, 0);
}

.box {
    width: 4px;
    height: 1000px;
    background: red;
}

.box .rectangle {
    position: absolute;
    width: 1px;
    height: 1400px;
    top: 0;
    left: 300px;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
}

.left-div {
    padding: 10px;
    border-right: 1px solid white;
}

.right-div {
    border-right: 1px solid white;
    padding-top: 40px;

}

.imagen_home{
    width: 100%;
    height: auto;
}



