.card {
    width: 47.3vw;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea verticalmente los elementos en el centro */
    align-items: center; /* Alinea horizontalmente los elementos en el centro */
    text-align: center;

}

.contain_image {
    margin-top: 20px;
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    padding: 0;
}

.img_card{
    width: 25vw;
}

.image{
    max-width: 70%;
    height: auto;
    border-radius: 20px;
}

.nombre_user{
    font-size: 1.5em;
    color: white;
}

.card h2 {
    font-size: 1.5em;
    margin: 0;
    color: white;
}

.card p {
    font-size: 1em;
    margin: 0;
    color: white;
}

.contain_nav {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.conteneder_nav{
    background-color: black;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;

}

.boton_nav{
    color: white;
}

.contain_left_nav {
    width: 25vw;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.logo{
    width: 70px;
    height: auto;
}

.icon_container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 20px;
}

.home-icon{
    height: 30px;
}

.text_inicio{
    margin-left: 40px;
}